/* Name: Matthew Heger
    Class: CSC 337 
   Date: 3/30/2019
   This is the CSS file for the chatit CSC 337 Assignment  */


#topcontent { /*Entire top body content*/ 
    background-image: url("paper.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: Georgia;
    color: purple; 
    background-color: purple; 
    display: flex;
    flex-direction: column; 
    margin-left: 10%; 
    margin-right: 10%;

}

#MessageBox { /*Content for message box*/ 
    /*width: 50%; */
    margin-top: 0px; 
    padding-left: 15px; 
    padding-right: 30px; 
    margin-left: 31%; 
    width: 400px; 
    display: flex; 
    border-style: solid; 
    border-width: 2pt; 
    border-radius: 10px; 
    border-color: black; 
    /*background-image: url("mailbox.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; */
}

#Commenttext{ /*Text above comment input field*/ 
    font-size: 30pt;  
    font-family: Georgia; 
    padding: 0; 
    margin: 0; 
    text-align: center; 
}

#Nametext{ /*Text above Name input field*/ 
    font-size: 30pt;  
    font-family: Georgia; 
    padding: 0; 
    margin: 0; 
    text-align: center; 
}

#SendButton { /*Send button style */ 
    margin-left: 40%; 
    margin-top: 35px; 
    padding: 0; 
    width: 20%; 
    border-style: solid; 
    border-color: black; 
}

#Send {
    width: 100%; 
}

#description { 
    font-size: 13pt; 
    text-align: center; 
}

#NameText {
    font-size: 16pt; 
}

#CommentText {
    font-size: 16pt; 
    color: black; 
}

.message {
    display: flex; 
}



h1 {
    text-align: center; 
    margin-top: 100px; 
    padding-bottom: 0; 
}

.Box {
    display: flex; 
    flex-direction: column; 
}

#MessageHeader {
    padding-bottom: 0; 
    margin-bottom: 0; 
    margin-left: 18%; 
}

#Allmessages {
    width: 800px; 
    margin-left: 100px; 
    border-style: solid; 
    border-width: 2pt; 
    border-radius: 5px; 
    border-color: black; 
    margin-left: 18%; 
    margin-bottom: 400px; 
}


#inputName { 
    margin: 15px;    
}

#inputComment{
    margin: 15px; 
}
